.cards-container {
  .container {
    display: flex;
    align-items: center !important;
    justify-content: space-between;
    background: #fff;
    padding: 15px;
    border: 1px solid silver;
    margin: 100px 100px 50px;
    border-radius: 6px;
    .data {
      text-align: left;
      a {
        color: #5c5c5c !important;
        margin-bottom: 10px;
      }
      p {
        color: #34a853;
      }
    }
    .productImage {
      width: 80px;
      .buttonContainer img {
        width: 20px;
      }
    }
    button {
      padding: 8px;
      margin: 10px;
      border-radius: 3px;
      background-color: #3f84bd;
      color: #fff;
      cursor: pointer;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 4px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
    @media (max-width: 470px) {
      .container {
        flex-direction: column;
      }
      .productImage {
        width: 150px;
      }
      .data {
        text-align: center;
        a {
          margin: 30px 0 20px;
        }
        p {
          margin: 20px 0 30px;
        }
      }
    }
  }
}
