.details-container {
  .container {
    display: flex;
    justify-content: space-around;
    .img-container {
      display: flex;
      align-items: center;
      img {
        margin-top: 90px;
        width: 300px;
      }
    }
    .information {
      border: solid 1px silver;
      padding: 10px;
      border-radius: 5px;
      margin: 50px;
      width: 500px;
      .product-info {
        color: #5c5c5c;
      }
      .text-container {
        line-height: 32px;
      }
      a {
        color: #315a91;
      }
      button {
        padding: 8px;
        margin: 10px;
        border-radius: 3px;
        background-color: #3f84bd;
        color: #fff;
        cursor: pointer;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 4px 12px -2px,
          rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      }
    }
  }
}
@media screen and(max-width:"988px") {
  .container {
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .img-container img {
    margin-top: 90px;
    width: 180px !important;
  }
}
@media screen and(max-width:"505px") {
  .information {
    width: 300px !important;
  }
}
