.nav-container {
  // box-shadow: 0px 5px 24px rgba(149, 157, 165, 0.4);
  display: flex;
  align-items: center;
  background-color: #cccccc;
  padding: 15px;
  width: 100%;
  justify-content: space-between;
  .store-tab {
    border-bottom: 5px solid #0f5a97;
    border-radius: 0 0 5px 5px;
    a {
      font-size: 1.2rem;
      color: #3f3e3e;
    }
  }
  .shop-logo {
    svg {
      color: #3f3e3e;
      font-size: 1.8rem;
    }
    span {
      color: #fff;
      font-size: 0.8rem;
      background-color: #3a37d4;
      padding: 5px;
      border-radius: 100%;
      font-size: 0.7rem;
      font-weight: bold;
    }
  }
}
